@import "../../base/";
@import "../../helpers/";




.saas-pricing {
    padding: 4.8rem 0;
    background-color: #272727;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 4.8rem 15px;
        @media screen and (min-width: 576px) {
            max-width: 520px;
            margin: 0 auto;
        }
        @media screen and (min-width: 768px) {
            max-width: 720px;
            margin: 0 auto;
        }
        @media screen and (min-width: 992px) {
            max-width: 960px;
            margin: 0 auto;
        }
        @media screen and (min-width: 1200px) {
            max-width: 1140px;
            margin: 0 auto;
        }
        @media screen and (min-width: 1280px) {
            max-width: 1200px;
        }
        .row-pricing {
            margin: 0 -15px;
            margin-top: 2.4rem;
            display: flex;
            flex-wrap: wrap;
            .item.our {
                padding-right: 4.8rem;
                max-width: calc(100% /3);
                padding-left: 15px;
                @media screen and (max-width: 992px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                }
                .title-content {
                    text-align: left;
                    .title {
                        color: #eee;
                        @media screen and (max-width: 1080px) {
                            font-size: 32px;
                            line-height: 40px;
                        }
                    }
                    .text {
                        margin-top: 1.6rem;
                        font-size: calc($fz-text + 4px);
                        line-height: 28px;
                        color: $text-color;
                    }
                    .pricing-btn {
                        padding: 10px 30px;
                        font-size: $fz-button;
                        line-height: 30px;
                        font-weight: 600;
                        transition: .3s ease-in;
                        border-radius: 6px;
                        cursor: pointer;
                        margin-top: 4.8rem;
                        display: inline-block;
                        border: 1px solid transparent;
                        color: $primary-color;
                        background-color: transparent;
                        border-color: $primary-color;
                        &:hover {
                            color: $white-color;
                            background-color: $primary-color;
                        }
                        @media screen and (max-width: 992px) {
                            margin: 3.2rem 0;
                        }
                    }
                }
            }
            .item {
                margin-top: 0;
                width: calc(100% / 3);
                max-width: calc(100% / 3);
                padding: 0 15px;
                @media screen and (max-width: 992px) {
                    flex: 0 0 50%;
                    max-width: calc(100% / 2);
                }
                @media screen and (max-width: 768px) {
                    flex: 0 0 100%;
                    max-width: 100%;
                    margin-bottom: 50px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                }
                .plan {
                    padding: 4.8rem 3.2rem;
                    text-align: center;
                    background-color: $bg-color;
                    border-radius: 6px;
                    transition: .3s ease-in;
                    .title {
                        color: $primary-color;
                        font-size: 20px;
                        margin-bottom: 1em;
                        font-weight: 700;
                        display: inline-block;
                        letter-spacing: 0px;
                    }
                    .price {
                        margin-bottom: 2.4rem;
                        color: $text-color;
                        font-size: 1.6rem;
                        .dollar {
                            letter-spacing: -1px;
                        }
                        .amount {
                            font-size: 40px;
                            font-weight: 600;
                            color: #eee;
                        }
                        p {
                            font-size: calc($fz-text + 4px);
                            line-height: 28px;
                            color: $text-color;
                        }
                    }
                    .pricinghny-inf {
                        li {
                            margin-top: 10px;
                            color: $text-color;
                            font-size: 16px;
                            font-weight: 400;
                            display: block;
                            letter-spacing: 0px;
                        }
                    }
                    .plan-btn {
                        padding: 10px 30px;
                        font-size: $fz-button;
                        line-height: 30px;
                        font-weight: 600;
                        transition: .3s ease-in;
                        border-radius: 6px;
                        cursor: pointer;
                        margin-top: 4.8rem;
                        display: inline-block;
                        border: 1px solid transparent;
                        color: $white-color;
                        background-color: $primary-color;
                        border-color: $primary-color;
                        &:hover {
                            opacity: 0.8;
                        }
                    }
                }
            }
        }
    }
}