@import "../../base/";
@import "../../helpers/";




.saas-wwd {
    padding: 4.8rem 0;
    background-color: $bg-color;
    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 4.8rem 15px;
        @media screen and (min-width: 576px) {
            max-width: 520px;
            margin: 0 auto;
        }
        @media screen and (min-width: 768px) {
            max-width: 720px;
            margin: 0 auto;
        }
        @media screen and (min-width: 992px) {
            max-width: 960px;
            margin: 0 auto;
        }
        @media screen and (min-width: 1200px) {
            max-width: 1140px;
            margin: 0 auto;
        }
        @media screen and (min-width: 1280px) {
            max-width: 1200px;
        }
        .header {
            .sub-title {
                margin-bottom: 0.8rem;
            }
            .title {
                margin-bottom: 1.6rem;
                color: #eee;
                @media screen and (max-width: 1080px) {
                    font-size: 30px;
                }
                @media screen and (max-width: 768px) {
                    margin-bottom: 50px;
                }
            }
        }
        .content {
            display: flex;
            flex-wrap: wrap;
            margin: 0 -15px;
            .wwd-item {
                margin-top: 4.8rem;
                max-width: calc(100% / 3);
                padding: 0 15px;
                position: relative;
                @media screen and (max-width: 992px) {
                    max-width: 50%;
                }
                @media screen and (max-width: 767px) {
                    max-width: 100%;
                    margin: 0 15px;
                }
                &-info {
                    .wwd-link {
                        display: block;
                        overflow: hidden;
                        border-radius: 6px;
                        color: $primary-color;
                        background-color: transparent;
                        .wwd-img {
                            border-radius: 6px;
                            max-width: 100%;
                            height: auto;
                            vertical-align: middle;
                            border-style: none;
                            transition: .3s ease-in-out;
                            &:hover {
                                overflow: hidden;
                                transform: scale(1.1);
                                transition: .3s ease-in-out;
                                border-radius: 6px;
                            }
                        }
                    }
                    .wwd-info {
                        position: relative;
                        padding: 20px 30px;
                        .title {
                            font-size: 2rem;
                            line-height: 1.2;
                            color: #eee;
                            a {
                                background-color: $bg-color;
                                padding: 12px;
                                position: absolute;
                                left: 0;
                                right: 0;
                                margin: 0 auto;
                                top: -32px;
                                z-index: 99;
                                max-width: 68%;
                                border-radius: 6px;
                                box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
                                color: $primary-color;
                            }
                        }
                        .text {
                            margin-top: 20px;
                            font-size: calc($fz-text + 4px);
                            line-height: 28px;
                            color: $text-color;
                        }
                    } 
                }
            }
        }
    }
}