
//text
$fz-heading: 48px;
$fz-text: 14px;
$fz-button: 17px;

//color
$primary-color: #7e0cf8;
$secondary-color: #ff8500;
$text-color: #afafaf;
$heading-color: #c3acac;
$bg-color: #0c0c0c;
$white-color: #fff;
$saas-primary: #4c1e80;

//Btn
$boder-radius: 6px;
